---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://rzrjmncawmbiwybkfevi.supabase.co/rest/v1/products?order=id.asc",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cmptbmNhd21iaXd5YmtmZXZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NjM5MDQsImV4cCI6MjA2MTQzOTkwNH0.fZH4Fc4wDSH_YNjx4pfHsh8rdOatk8MoKo582D9Peow",
      },
    }
  ).then((response) => response.json());

  return data.map((product) => ({
    params: { slug: product.slug },
  }));
}

const { slug } = Astro.params;

// Hent specifikt produkt baseret på slug
const product = await fetch(
  `https://rzrjmncawmbiwybkfevi.supabase.co/rest/v1/products?slug=eq.${slug}`,
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cmptbmNhd21iaXd5YmtmZXZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NjM5MDQsImV4cCI6MjA2MTQzOTkwNH0.fZH4Fc4wDSH_YNjx4pfHsh8rdOatk8MoKo582D9Peow",
      Accept: "application/json",
    },
  }
)
  .then((res) => res.json())
  .then((data) => data[0]);

if (!product) {
  throw new Error(`Produkt med slug "${slug}" blev ikke fundet.`);
}

const maxLevel = 5;
const roastLevel = product.roast_level;
---

<MainLayout>
  <div class="bg-[#577866] p-5">
    <img
      class="max-w-[250px] mx-auto mt-10 md:mx-0"
      src={product.image_url}
      alt={product.name}
    />
    <h1
      class="text-[#F9F6F1] georama text-[64px] mt-2 mb-1 text-center md:text-left md:text-[64px]"
    >
      {product.name}
    </h1>
    <p
      class="manrope text-[#F9F6F1] text-[16px] px-2 mb-10 md:px-0 md:text-left"
    >
      {product.short_description}
    </p>
    <p class="mb-1">{product.weight}</p>
    <div
      class="manrope text-[#F9F6F1] text-[16px] px-2 mb-10 md:px-0 md:text-left"
    >
      <p>Engangskøb {product.one_time_price} DKK</p>
      <p>Abonnement {product.subscription_price} DKK</p>
    </div>

    <!-- CTA Knap flyttet ind her -->
    <div class="flex justify-center mt-10">
      <a
        href="#"
        class="manrope text-[16px] font-medium md:text-[18px] bg-[#F9F6F1] hover:bg-[#455F50] text-[#2B2B2B] px-6 py-4 transition duration-300 md:px-6 md:py-4"
      >
        Tilføj til kurven
      </a>
    </div>
  </div>

  <p class="mt-6">{product.full_description}</p>

  <h2
    class="text-[#2B2B2B] georama text-[40px] mt-5 mb-5 text-center md:text-[64px]"
  >
    Kaffen i detaljer
  </h2>
  <div class="w-90 border-b-2 border-[#577866] mx-auto mb-6"></div>
  <p>Ristegrad</p>
  <div class="flex gap-0.5 justify-center">
    {
      [...Array(5)].map((_, i) => (
        <div
          class={`w-16 h-10 ${i < product.roast_level ? "bg-[#577866]" : "bg-[#95B2A2]"}`}
        />
      ))
    }
  </div>

  <p>Syrlighed</p>
  <div class="flex gap-0.5 justify-center">
    {
      [...Array(5)].map((_, i) => (
        <div
          class={`w-16 h-10 ${i < product.acidity ? "bg-[#577866]" : "bg-[#95B2A2]"}`}
        />
      ))
    }
  </div>

  <p>Sødme</p>
  <div class="flex gap-0.5 mb-10 justify-center">
    {
      [...Array(5)].map((_, i) => (
        <div
          class={`w-16 h-10 ${i < product.sweetness ? "bg-[#577866]" : "bg-[#95B2A2]"}`}
        />
      ))
    }
  </div>

  <h2
    class="text-[#2B2B2B] georama text-[40px] mt-5 mb-5 text-center md:text-[64px]"
  >
    Andre produkter, du måske vil kunne lide
  </h2>
</MainLayout>

acidity sweetness
